<div class="flow-root">
  <a
    href="{{ href }}"
    class="-mx-3 -my-2 block rounded-xl px-3 py-2 hover:bg-base-content/5"
    data-turbo-frame="main-content-frame"
    data-turbo-action="advance"
  >
    <p class="flex items-center gap-3 text-sm/7 text-base-content/60">
      {{ label | default: ('theme.page.up_next' | t: 'Up next') }}
      <i data-lucide="chevron-right" class="h-4 w-4 stroke-current" aria-hidden="true"></i>
    </p>
    <p class="mt-3 text-base/7 font-medium text-base-content">{{ title }}</p>
    {%- if description != blank -%}
      <p class="text-sm/7 text-base-content/70">{{ description }}</p>
    {%- endif -%}
  </a>
</div>
