{% layout none %}

<turbo-stream action="append" target="js--body">
  <template>
    <div class="fixed left-1/2 bottom-6 z-50 -translate-x-1/2" id="js--jobs-feedback-error" x-data="" x-init="setTimeout(() => { $el.remove() }, 5000)">
      <div class="card border border-error/30 bg-base-100 px-4 py-3 text-sm text-error">
        <span class="font-semibold">{{ errors | default: ('theme.feedback.error_title' | t: 'Submit failed') }}</span>
      </div>
    </div>
  </template>
</turbo-stream>

